.button {
    background-color: rgb(11, 18, 55);
    color: white;
    font-family: inherit;
    font-size: clamp(16px, 2cqmin, 20px);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    &__profile {
        &_photo {
            font-size: clamp(14px, 1.7cqmin, 18px);
            padding: 6px 10px;
            align-self: flex-end;
            background-color: rgb(20, 31, 88);
        }
    }
    &__message {
        background-color: rgb(65, 74, 119);
    }
}

@container (max-width: 600px) {
    .button {
        &__profile {
            &_photo {
                align-self: center;
            }
        }
    }
}
