.header {
    width: 100%;
    display: flex;
    gap: 4cqmin;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding: 3cqmin 0;
    &-label {
        margin-right: 2cqmin;
        color: white;
        font-size: 18px;
        &-checkbox {
            color: white;
            font-size: 18px;
        }
    }
}

@container (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}
