.list {
    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5cqmin;
        padding: 5cqmin 2cqmin;
        justify-content: space-evenly;
    }
    &-loading,
    &-error {
        text-align: center;
        padding-top: 6cqmin;
        color: white;
    }
}
