.not-found {
    height: 100dvh;
    &-message {
        width: clamp(300px, 50cqmin, 600px);
        flex-direction: column;
        background-color: white;
        padding: clamp(20px, 10cqmin, 120px) 0;
        gap: 5cqmin;
        border-radius: 10px;
        &-title {
            font-size: clamp(24px, 4cqmin, 40px);
            color: rgb(10, 18, 57);
        }
    }
}
