.profile-page {
    width: 100%;
    background-color: white;
    padding: 4cqmin;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5cqmin;
    &-wrapper {
        width: 100%;
        padding: 2cqmin 6cqmin;
    }
    &-photo {
        display: flex;
        gap: 1cqmin;
    }
    &_settings-element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1cqmin;
        & .text-input {
            width: 400px;
            font-family: inherit;
            font-size: clamp(16px, 2cqmin, 22px);
            border: 2px solid black;
            border-radius: 8px;
            padding: 5px;
        }
    }
    &-titles {
        font-weight: 500;
        font-size: clamp(18px, 2.2cqmin, 24px);
    }
}

@container (max-width: 600px) {
    .profile-page {
        &-photo {
            flex-direction: column;
        }
        &_settings-element {
            & .text-input {
                max-width: none;
                width: 100%;
            }
        }
    }
}
